{{- if strings.ContainsNonSpace .Inner -}}
{{- $data := .Inner | unmarshal -}}
{{- $arg0 := index .Params 0 -}}
{{- if eq $arg0 "shuffle" -}}
{{- $data = shuffle $data -}}
{{- end -}}
<div class="nexmoe-py">
  <ul>
    {{- range $data -}}
    <li {{ with .des }}{{ printf `mdui-tooltip="{content: '%s'}"` (. | safeJS) | safeHTMLAttr }}{{ end }}>
      <a target="_blank" href="{{ .link }}" title="{{ .title }}">
        <img src="{{ .img }}" alt="{{ .title }}" >
      </a>
    </li>
    {{- end }}
  </ul>
</div>
{{- else -}}
{{ errorf "Data wasn't provided to the shortcode!" }}
{{- end -}}